﻿.body-content {
    margin-top: +5em;
}
.navbar{
    min-height: 60px;
}
.navbar-brand > img {
    display:inline-block;
}
.nav > li {
    top: 5px;
}
#Google {
    background-color: transparent;
    background-image: url("/Content/btn_google_signin_dark_normal_web.png");
    background-repeat: no-repeat;
    width: 194px;
    height: 48px;
}
#Google:hover {
    background-image: url("btn_google_signin_dark_focus_web.png");
}
#Google:active {
    background-image: url("btn_google_signin_dark_pressed_web.png");
}
#Google:disabled {
    background-image: url("btn_google_signin_dark_disabled_web.png");
}

.box {
    width: 170px;
    height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: #772953;
}

    .box :hover {
        background-color: #511c39;
    }

.boxDiv {
    line-height: 85px;
}

.boxText {
    text-wrap: normal;
    font-size: large;
    word-wrap: break-word;
    color: #ffffff;
}

.blue {
    background: #13b4ff;
}

.purple {
    background: #ab3fdd;
}

.wine {
    background: #ae163e;
}

.actionLink :link {
    color: white;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.actionLink :visited {
    color: white;
}

.searchResultsColumnImage {
    max-width: 300px;
    min-width: 300px;
}

.searchResultsColumnTitle {
    max-width: 200px;
    min-width: 200px;
    text-wrap: normal;
}

.searchResultsColumnDescription {
    max-width: 300px;
    min-width: 300px;
}

.seachResultsColumnSource {
    max-width: 100px;
    min-width: 100px;
}

.img-logo {
    height: 30px;
}