﻿
    @{
        ViewBag.Title = "User Portal";
    }

<h2>@ViewBag.Title</h2>
@Html.ActionLink("Search History ", "SearchHistory", "UserPortal", null, new { @class="btn btn-primary"})
@Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { @class="btn btn-primary"})
@Html.ActionLink("My Curriculums ", "Curriculum", "UserPortal", null, new { @class = "btn btn-primary" })
<br />
