﻿@using Microsoft.AspNet.Identity
@using Recaptcha.Web.Mvc
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()<span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>
                @Html.ActionLink("My Skillify", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                @Html.ActionLink("Search History", "SearchHistory", "UserPortal", null, null) 
            </li>
            <li>
                @Html.ActionLink("My Custom Curriculums", "Curriculum", "UserPortal", null, null)
            </li>      
            <li>
                @Html.ActionLink("My Approved Curriculums", "UserApprovedCurriculum", "UserPortal", null, null)
            </li>
            @{ 
                if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Admin Portal", "Index", "Admin", null, null)</li>
                }
            }
        </ul>
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
