﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="text-center">
    <hgroup>
        <h1>Sorry, we messed up!</h1>
        <h2>Something broke on our end, try again in just a moment.</h2>        
    </hgroup>
    <div>
        <img src="~/Content/Error-logo-message-.png" width="556" height="566">
    </div>
</body>
</html>
