﻿@{
    ViewBag.Title = "Page Not Found";
}
<img src="~/Content/Error-logo-message-.png" class="center-block" />
<h1 class="center-block, text-center">You've broke the internet! Just kidding. Sort of.</h1>
<p class="center-block, text-center">We couldn't find this page for you though: @ViewBag.RequestedUrl</p>
@if (ViewBag.ReferrerUrl != null) {
<p>Go back to the <a href="@ViewBag.ReferrerUrl">previous page</a>.</p>
}
<p>Go Home @Html.ActionLink("By Clicking Here", "Index", "Home", null, null)</p>

@* Error page must be longer than 512 bytes for IE and Chrome to show it. 
   So add padding in case we're short. *@
@(new string(' ', 512))