﻿@{
    ViewBag.Title = "About Skillify";
}

<div class="col-lg-12 container">
    <div class="col-md-5"></div>
    <div class="col-md-4">
        <img src="~/Content/Skillify_logo.png" style="max-width: 175px">
    </div>
    <div class="col-md-4"></div>
</div>
<div class="col-lg-12 container">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1 class="text-center" style="color: rebeccapurple">Our Dream</h1>
        </div>
    </div>

<div class="col-lg-12 container">
    <br />
    <p style="font-size: large">
        We believe that learning should be a fun and exciting experience. To that end, Skillify is a place to easily explore new avenues of learning from multiple
        platforms all over the internet.
    </p>
    <hr />
</div>

<div class="col-lg-12 text-center container">
    <div class="col-sm-4">
        <image style="width:125px" class="img-circle" src="~/Content/Profile_Photos/LL_pic.jpg"></image>
        <h3 class="">Luis Lloyh</h3>
        <p>Luis is a post baccalaureate student at Western Oregon University. He enjoys traveling abroad and playing chess.</p>
    </div>
    <div class="col-sm-4">
        <image style="width:125px" class="img-circle" src="~/Content/Profile_Photos/jazmin_pic.png"></image>
        <h3>Jazmin Bembry</h3>
        <p>Jazmin is originally from Northern California and is in her senior year at Western Oregon University studying Computer Science. </p>
    </div>
    <div class="col-sm-4">
        <image style="width:125px" class="img-circle" src="~/Content/Profile_Photos/aaron_photo.jpg"></image>
        <h3>Aaron Craig</h3>
        <p>Aaron is one of the founding members of Skillify. He has two kids and a beautiful wife and loves to game with all of them.</p>
    </div>
</div>

<div class="col-lg-12">
    <hr />
</div>

<div class="col-lg-12 container">
    <h3>Our Vision Statement</h3>
    <p style="font-size:large">
        For students of all ages and everyday people looking to learn a new skill, the Skill Learning / Online Degree Course Fusion website allows for users to
        search for top online courses from the leading learning websites, including Udemy, PluralSight, YouTube, and Khan Academy. The website allows learners to
        view and evaluate courses from the various different learning platforms based on price, rating, single skill or degree, and curate an experience that suits his
        or her needs. The website will save the user time and energy by allowing them to have all of the best options in one search, versus looking through each website
        individually. Also, they can see ratings from the various learning websites, as well as ratings and testimonies left by users of the Skill Learning / Online Degree
        Course Fusion website. In addition, users are able to create an account and save their searches and be updated when new, great courses that align with their educational
        needs are available.The website allows a user to find and plan a given curriculum that suits his or her needs, whether all of the courses be from one website, or from
        various websites that are recommended based on their previous searches or interests that he or she selects in a user profile. Unlike websites such as OEDB.com which
        has a search engine that includes several online learning platforms, the Skill Learning / Online Degree Course Fusion website will have more options in searching on
        different criteria and access to a more curated experience.
    </p>
    <hr />
</div>