﻿@model SuperTek_Team_Project.ViewModels.ApprovedCurriculumViewModel
<center>
    <h2>Approved Curriculums!</h2>
    <br />
    <br />
    <p style="font-weight:bold">
        Here at Skillify, we find both structured and unstructed learning to
        be fun and fulfilling. Because of this, we offer Approved Curriculums,
        which contain a template of curriculums that would be needed to achieve
        the vital learning objectives of a given subject. Right now, we offer an
        Approved Curriculum in Computer Science, which would allow you to fill
        up each curriculum with resources of your choice to gain a well-rounded
        understanding of CS.
    </p>
</center>
<br />
<br />

<table class="table">
    <tr>
        <th>
          Approved Curriculum
        </th>
        <th>
            Curriculums
            </th>
<th></th>
    </tr>

    <tr>

    <td>
        <center>
            @Html.DisplayFor(model => model.Title)
            <br />
            <br/>
            <input type="submit" onclick="location.href='@Url.Action("AddUserApprovedCurriculum","UserPortal")'" class="btn btn-primary" value="Add CS Approved Curriculum" />
        </center>
</td>

        <td>
            @for (var i = 0; i < Model.CurriculumTitles.Count; i++)
            {
                @Html.DisplayFor(model => Model.CurriculumTitles[i])<br />
            }
           
        </td>

    </tr>


</table>
