﻿@model List<SuperTek_Team_Project.Models.SkillifySearch>

@{
    ViewBag.Title = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-12">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" aria-label="..." placeholder="What Skill Would You Like To Learn Today?" id="searchBar" onkeyup="checkEnter(event, this)">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button" id="searchButton" onclick="beginSearch()">Go!</button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="row col-lg-12">
    <div align="center">
        <div class="col-sm-1">
            <input type="radio" class="radio" name="x" value="x" id="beg" checked="checked" />
            <label for="beg">Beginner</label>
        </div>
        <div class="col-sm-2">
            <input type="radio" class="radio" name="x" value="y" id="int" />
            <label for="int">Intermediate</label>
        </div>
        <div class="col-sm-1">
            <input type="radio" class="radio" name="x" value="z" id="adv" />
            <label for="adv">Advanced</label>
        </div>
    </div>

    <div align="center">
        <div class="col-sm-1 col-sm-offset-5">
            <input type="radio" class="radio" name="a" value="a" id="free" />
            <label for="free">Free</label>
        </div>
        <div class="col-sm-1">
            <input type="radio" class="radio" name="a" value="b" id="paid" />
            <label for="paid">Paid</label>
        </div>
        <div class="col-sm-1">
            <input type="radio" class="radio" name="a" value="c" id="both" checked="checked" />
            <label for="both">Both</label>
        </div>
    </div>
</div>

<br />
<br />
<br />  
<h2 class="center-block, text-center row">Most Popular Searches From Around The World</h2>
<div class="col-lg-12 center-block">
    @foreach (var item in Model)
    {
        <div class="boxDiv col-sm-2">
                <p class="box text-capitalize text-center actionLink" font color="white">@Html.ActionLink(item.Query, "SearchResults", "Home", new { query = item.Query, level = item.SkillLevel }, null)</p>
        </div>
    }
</div>

<br />