﻿@model IEnumerable<SuperTek_Team_Project.Models.PluralsightUpdateLog>

@{
    ViewBag.Title = "Pluralsight Update Log";
}

<h2>Pluralsight Update Log</h2>

<table class="table table-hover" id="recommendedCurriculum">
    <thead>
        <tr>
            <th>User ID </th>
            <th>User Name </th>
            <th>Start Time </th>
            <th>End Time </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserID)</td>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
            <td>@Html.DisplayFor(modelItem => item.EndTime)</td>

        </tr>
         }



</table>

