﻿@model List<SuperTek_Team_Project.ViewModels.SearchResult>

@{
    ViewBag.Title = "SearchResults";
}

@{
    var curLength = 0f;
    var counter = 0;
}
@{
    if (Model.Count() > 0)
    {
        <h2>Our Recommended Curriculum</h2>
        <!--This is the first section, that displays our recommend curriculum-->
        <table class="table table-hover" id="recommendedCurriculum">
            <thead>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="searchResultsColumnImage"><ul></ul><a href="@item.Url" target="_blank"><img class="img-responsive" src="@item.Image" /></a></td>
                        <td class="searchResultsColumnTitle">@item.Title</td>
                        <td class="searchResultsColumnDescription">@Html.Raw(@item.Description)</td>
                        <td class="searchResultsColumnSource"><img class="img-logo" src="~/Content/Service_Logos/@(item.Source.ToLower())_logo.png"/></td>
                        <td><a href="@item.Url" target="_blank" class="btn btn-primary">Visit Resource</a></td>
                        <td><input type="submit" onclick="location.href='@Url.Action("AddResource", "UserPortal", new { id = @item.ResourceID })'" class="btn btn-primary" value="Add to Curriculum" /></td>
                    </tr>
                    <!--Determing the amount of time to show, should be based on level-->
                    curLength += item.ResourceLength;
                    counter += 1;
                    if (item.SkillLevel == "beginner")
                    {
                        if (curLength > 72000f) //20 Hours in seconds
                        {
                            break;
                        }
                    }
                    if (item.SkillLevel == "intermediate")
                    {
                        if (curLength > 108000f) //30 Hours in seconds
                        {
                            break;
                        }
                    }
                    if (item.SkillLevel == "advanced")
                    {
                        if (curLength > 144000f) //40 Hours in seconds
                        {
                            break;
                        }
                    }
                }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <h2>The rest of the search results</h2>
        <!--The second section which then has the rest of the results for viewing-->
        <table class="table table-hover" id="remainingResults">
            <thead>
                <tr>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                @for (var i = counter; i < Model.Count; ++i)
                {
                    <tr>
                        <td class="searchResultsColumnImage"><ul></ul><a href="@Model[i].Url" target="_blank"><img class="img-responsive" src="@Model[i].Image" /></a></td>
                        <td class="searchResultsColumnTitle">@Model[i].Title</td>
                        <td class="searchResultsColumnDescription">@Html.Raw(@Model[i].Description)</td>
                        <td class="searchResultsColumnSource"><img class="img-logo" src="~/Content/Service_Logos/@(Model[i].Source.ToLower())_logo.png" /></td>
                        <td><a href="@Model[i].Url" target="_blank" class="btn btn-primary">Visit Resource</a></td>
                        <td><input type="submit" onclick="location.href='@Url.Action("AddCourse", "UserPortal")'" class="btn btn-primary" value="Add to Curriculum" /></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br />
        <h3 > Your skill search of "@ViewBag.queryString" returned no results.Try checking the spelling of the word or narrowing down the search terms </h3>
        <br />
    }
}