﻿
@{
    ViewBag.Title = "TermsOfService";
}

<h2>Terms Of Service</h2>
<p style="text-align: center;"><strong><span style="font-size: 9.0pt;">&nbsp;</span></strong></p>
<p style="text-align: center;"><strong><span style="font-size: 9.0pt;">SKILLIFY TERMS AND CONDITIONS</span></strong></p>
<p style="text-align: center;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">&nbsp;</span></strong></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Credit</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">This document was created using a Contractology template available at <a href="http://www.contractology.com">http://www.contractology.com</a>.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Introduction</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.&nbsp;&nbsp; If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must be at least 13 years of age to use this website.&nbsp; By using this website and by agreeing to these terms and conditions you warrant and represent that you are at least 13 years of age.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[This website uses cookies.&nbsp; By using this website and agreeing to these terms and conditions, you consent to our Skillify's use of cookies in accordance with the terms of Skillify's [privacy policy / cookies policy].]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">License to use website</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Unless otherwise stated, Skillify and/or its licensors own the intellectual property rights in the website and material on the website.&nbsp; Subject to the license below, all these intellectual property rights are reserved.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You may view, download for caching purposes only, and print pages [or [OTHER CONTENT]] from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must not:</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<ul>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">republish material from this website (including republication on another website);</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">sell, rent or sub-license material from the website;</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">show any material from the website in public;</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;]</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">[edit or otherwise modify any material on the website; or]</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in;"><span style="font-size: 9.0pt;">[redistribute material from this website [except for content specifically and expressly made available for redistribution].]</span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[Where content is specifically made available for redistribution, it may only be redistributed [within your organisation].]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Acceptable use</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Skillify&rsquo;s express written consent.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[You must not use this website to transmit or send unsolicited commercial communications.]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[You must not use this website for any purposes related to marketing without Skillify&rsquo;s express written consent.]&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">[Restricted access</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[Access to certain areas of this website is restricted.]&nbsp; Skillify reserves the right to restrict access to [other] areas of this website, or indeed this entire website, at Skillify&rsquo;s discretion.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">If Skillify provides you with a user ID and password to enable you to access restricted areas of this website or other content or services, you must ensure that the user ID and password are kept confidential.&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[Skillify may disable your user ID and password in Skillify&rsquo;s sole discretion without notice or explanation.]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">[User content</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">In these terms and conditions, &ldquo;your user content&rdquo; means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to this website, for whatever purpose.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You grant to Skillify a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your user content in any existing or future media.&nbsp; You also grant to Skillify the right to sub-license these rights, and the right to bring an action for infringement of these rights.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal action whether against you or Skillify or a third party (in each case under any applicable law).&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Skillify reserves the right to edit or remove any material submitted to this website, or stored on Skillify&rsquo;s servers, or hosted or published upon this website.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[Notwithstanding Skillify&rsquo;s rights under these terms and conditions in relation to user content, Skillify does not undertake to monitor the submission of such content to, or the publication of such content on, this website.]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">No warranties</span></strong></p>
<p style="text-align: center;"><strong><span style="font-size: 9.0pt;">&nbsp;</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">This website is provided &ldquo;as is&rdquo; without any representations or warranties, express or implied.&nbsp; Skillify makes no representations or warranties in relation to this website or the information and materials provided on this website.&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Without prejudice to the generality of the foregoing paragraph, Skillify does not warrant that:</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<ul>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">this website will be constantly available, or available at all; or</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">the information on this website is complete, true, accurate or non-misleading.</span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Nothing on this website constitutes, or is meant to constitute, advice of any kind.&nbsp; [If you require advice in relation to any [legal, financial or medical] matter you should consult an appropriate professional.]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Limitations of liability</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Skillify will not be liable to you (whether under the law of contact, the law of torts or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website:</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<ul>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">[to the extent that the website is provided free-of-charge, for any direct loss;]</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">for any indirect, special or consequential loss; or</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">for any business losses, loss of revenue, income, profits or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.</span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">These limitations of liability apply even if Skillify has been expressly advised of the potential loss.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Exceptions</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Nothing in this website disclaimer will exclude or limit any warranty implied by law that it would be unlawful to exclude or limit; and nothing in this website disclaimer will exclude or limit Skillify&rsquo;s liability in respect of any:</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<ul>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">death or personal injury caused by Skillify&rsquo;s negligence;</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">fraud or fraudulent misrepresentation on the part of Skillify; or</span></li>
    <li style="margin-left: .5in; text-align: justify; text-indent: -.25in; tab-stops: list .5in left 8.0in;"><span style="font-size: 9.0pt;">matter which it would be illegal or unlawful for Skillify to exclude or limit, or to attempt or purport to exclude or limit, its liability. </span></li>
</ul>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Reasonableness</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">By using this website, you agree that the exclusions and limitations of liability set out in this website disclaimer are reasonable.&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">If you do not think they are reasonable, you must not use this website.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Other parties</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[You accept that, as a limited liability entity, Skillify has an interest in limiting the personal liability of its officers and employees.&nbsp; You agree that you will not bring any claim personally against Skillify&rsquo;s officers or employees in respect of any losses you suffer in connection with the website.]</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">[Without prejudice to the foregoing paragraph,] you agree that the limitations of warranties and liability set out in this website disclaimer will protect Skillify&rsquo;s officers, employees, agents, subsidiaries, successors, assigns and sub-contractors as well as Skillify. </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Unenforceable provisions</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">If any provision of this website disclaimer is, or is found to be, unenforceable under applicable law, that will not affect the enforceability of the other provisions of this website disclaimer.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Indemnity</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You hereby indemnify Skillify and undertake to keep Skillify indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by Skillify to a third party in settlement of a claim or dispute on the advice of Skillify&rsquo;s legal advisers) incurred or suffered by Skillify arising out of any breach by you of any provision of these terms and conditions[, or arising out of any claim that you have breached any provision of these terms and conditions].</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Breaches of these terms and conditions</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Without prejudice to Skillify&rsquo;s other rights under these terms and conditions, if you breach these terms and conditions in any way, Skillify may take such action as Skillify deems appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Variation</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Skillify may revise these terms and conditions from time-to-time.&nbsp; Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.&nbsp; Please check this page regularly to ensure you are familiar with the current version.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Assignment</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">Skillify may transfer, sub-contract or otherwise deal with Skillify&rsquo;s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.&nbsp; </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Severability</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.&nbsp; If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. </span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Entire agreement</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">These terms and conditions constitute the entire agreement between you and Skillify in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><strong><span style="font-size: 9.0pt;">Law and jurisdiction</span></strong></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">&nbsp;</span></p>
<p style="text-align: justify;"><span style="font-size: 9.0pt;">These terms and conditions will be governed by and construed in accordance with Federal, State and local laws and any disputes relating to these terms and conditions will be subject to the [non-]exclusive jurisdiction of the courts of Oregon</span></p>
