﻿@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Skillify Administration";
}

<h2>Skillify Administration</h2>
<h3>Pluralsight</h3>
<p>Currently, there are @ViewBag.CourseCount Pluralsight courses in the database.</p>
<script>
    function getStatus() {
        $.ajax({
            type: 'GET',
            url: '/Home/UpdateProgress?totalLines=' + @ViewBag.CourseCount,
            dataType: 'json',
            success: function (data) { display(data); },
            failure: function (data) { alert('Error getting status data'); }
        });
    }
    function display(data) {
        var barWidth = (data['LinesSaved'] / data['LinesRead'] * 100);
        barWidth = (barWidth > 100) ? 100 : barWidth;
        $('.progress-bar').width(barWidth + '%');
        if (barWidth < 100 ) {
            $('.progress').show();
        }
        else if (data['LinesSaved'] > data['LinesRead']) {
            $('.progress').hide();
            $('#updateMessage').empty();
            $('#updateMessage').append('<p>Finalizing updates to the database...</p>');
        }
        else {
            $('.progress').hide();
        }
    }



    var progress = setInterval(function () {
        getStatus();

    }, 1000);

</script>
<div class="progress progress-striped active" style="display: none;">
    <div class="progress-bar" style="width: 0%;"></div>
</div>
<div id="updateMessage" style="display: none;">Message will appear here!</div>
<p>
    @using (Html.BeginForm("PluralsightUpdater", "Home", FormMethod.Post))
    {
        @Html.Hidden("theUserID", User.Identity.GetUserId())
        @Html.Hidden("theUserName", User.Identity.GetUserName())
        <input class="btn btn-primary" type="submit" value="Update Pluralsight Course List" formmethod="post" />
<p class="text-danger">Warning: This process can take up to 30 minutes!</p>
}

    <h3>Pluralsight Update Log</h3>

    <p>
        @using (Html.BeginForm("PluralsightUpdateLogExplorer", "Home", FormMethod.Post))
        {
            @Html.Hidden("theUserID", User.Identity.GetUserId())
            @Html.Hidden("theUserName", User.Identity.GetUserName())
            <input class="btn btn-primary" type="submit" value="View Log" formmethod="post" />
        
    }




