﻿@model SuperTek_Team_Project.Models.SkillifyCurriculum
@{
    ViewBag.Title = "AddCurriculum";
}

<center><h2>Add Curriculum</h2></center>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Add A New Skillify Curriculum</h4>
        <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublic)
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="AddCurriculum" class="btn btn-default" />
                </div>
            </div>
        </div>
        }


<div>
    @Html.ActionLink("Back to List of Your Curriculums", "Curriculum")
</div>
