﻿@model List<SuperTek_Team_Project.Models.SkillifyCurriculum>

@{
    ViewBag.Title = "AddResource";
}

<center>
    <p>
        <h2>Add Resource</h2>
        <h3>If you don't already have a curriculum that you can add a resource to, click the button below to create one.</h3>
        <input type="submit" onclick="location.href='@Url.Action("AddCurriculum","UserPortal")'" class="btn btn-primary" value="Add a Curriculum" />
</p></center>

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <!---->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    <input type="submit" onclick="location.href='@Url.Action("AddResourceToCur","UserPortal", new { id = item.CurriculumID , res = item.SkillifyResources })'" class="btn btn-primary" value="Add Resource to Curriculum" />
                </td>
           </tr>

        }
    </tbody>
</table>

