﻿@model IEnumerable<SuperTek_Team_Project.Models.SkillifyCurriculum>

@{
    ViewBag.Title = "Curriculum";
}

<h2>Your Custom Skillify Curriculums! </h2>

<p>
    <input type="submit" onclick="location.href='@Url.Action("AddCurriculum","UserPortal")'" class="btn btn-primary" value="Add a New Skillify Curriculum" />
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillifyResource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFinished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCreatorFavorite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPublic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
           @Html.ActionLink("See Resources", "ResourcesView", "UserPortal" , new { id = item.CurriculumID}, null)
                </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateFinished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCreatorFavorite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPublic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersRating)
        </td>
        <td>
            @Html.ActionLink("Edit Curriculum", "EditCurriculum", new { id=item.CurriculumID }) |
            @Html.ActionLink("Delete Curriculum", "DeleteCurriculum", new { id=item.CurriculumID })
        </td>
    </tr>
}

</table>
