﻿@model SuperTek_Team_Project.Models.SkillifyCurriculum

@{
    ViewBag.Title = "Delete Curriculum";
}

<h2>Delete Curriculum</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Delete Your Skillify Curriculum</h4>
    <hr />
    <dl class="dl-horizontal">
       
      
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFinished)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFinished)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCreatorFavorite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCreatorFavorite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsersRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsersRating)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Curriculum")
        </div>
    }
</div>
