﻿@model IEnumerable<SuperTek_Team_Project.Models.SkillifyResource>

@{
    ViewBag.Title = "Resources";
}

<h2>Here Are the Resources for Your Curriculum!</h2>

<table class="table table-hover">
    <tr>
      
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillifyRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="min-width: 250px;"><ul></ul><a href="@item.Url" target="_blank"><img class="img-responsive" src="@Html.DisplayFor(modelItem => item.Photo)" /></a>
        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel)
        </td>
        <td>
            <a href="@item.Url" target="_blank" class="btn btn-primary">Visit Resource</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type) 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillifyRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.ActionLink("Edit Resource", "EditResource", new { id = item.ResourceID })
        </td>
    </tr>
}

</table>
