﻿@using Microsoft.AspNet.Identity
@model IEnumerable<SuperTek_Team_Project.ViewModels.SearchHistoryModel>
<h2>Search History</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th> </th>
            <th> </th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        <!--table to show all the search history model data for a specific user-->
        <!--url will take the user to the resource's page-->
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.search</td>
                <td>@item.title</td>
                <td>@item.date</td>
                <td>@Html.Raw(@item.description)</td>
                <td><a href="@item.url" target="_blank" class="btn btn-primary">Visit Resource</a></td>
                <td><input type="submit" onclick="location.href='@Url.Action("AddResource","UserPortal", new { id = @item.ResourceID })'" class="btn btn-primary" value="Add to Curriculum" /></td>                
                <td></td>
            </tr>

        }
    </tbody>
</table>
@* Clear all search history *@
<p>
    @using (Html.BeginForm("ClearSearchHistory", "Home", FormMethod.Post))
    {
        @Html.Hidden("theUserID", User.Identity.GetUserId())
        <input class="btn btn-danger" type="submit" value="Delete ALL" formmethod="post" />
    <p class="text-danger">Warning: Clicking this button will erase all of your search history!</p>
}
