﻿@model IEnumerable<SuperTek_Team_Project.Models.SkillifyCurriculum>

<center><h2>Your Approved Curriculums!</h2>
    <br />
    <input type="submit" onclick="location.href='@Url.Action("DeleteApprovedCur","UserPortal")'" class="btn btn-primary" value="Delete CS Approved Curriculum" />
    </center>
<br />
<br />

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Skillify Resources
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "SearchResults", "Home", new { query = item.Title, level = "beginner" }, null)
        </td>
        <td>
            @Html.ActionLink("See Resources", "ResourcesView", "UserPortal", new { id = item.CurriculumID, item.ApprovedCurriculums}, null)
        </td>
    </tr>
}

</table>
